<div class="row">
  <div class="col xs12">
    <form [formGroup]="form">
      <div class="row">
        <div class="col xs12 md12">
          <mat-form-field>
            <input
              matInput
              placeholder="Module title"
              formControlName="title"
            />
            <mat-hint>Title of the module</mat-hint>
            <mat-error *ngIf="c['title'].errors && c['title'].touched">
              Title is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col xs12 md12">
          <mat-form-field>
            <textarea
              matInput
              placeholder="Module objective..."
              formControlName="objective"
            ></textarea>
            <mat-hint>Objective of the module</mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="btnAdd">
        <button mat-raised-button color="primary" (click)="onQuit()">
          Cancel
        </button>
        <button
          mat-raised-button
          [disabled]="form.invalid"
          color="primary"
          (click)="onSubmit()"
        >
          Add Module
        </button>
      </div>
    </form>
  </div>
</div>
