.mat-form-field {
  width: 100%;
}
textarea {
  height: 10em;
}
.mat-card-title {
  display: inline;
}
.mat-card {
    margin-top: 1em;
}
.btnAdd{
    
  margin: auto;
  width: 50%;
  margin-top: 1em;
  
  text-align: center;
}

.inMat{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .mat-card-title{
    display: flex;
    flex-wrap: wrap;
    
    max-width: 40em;
    overflow-wrap: anywhere;
  }
/*overflow: auto;overflow-y: hidden; // hide vertical
overflow-x: hidden; // hide horizontal
  button{
      float :right;
  }*/
}