<div class="row">
  <div class="col xs12">
    <form [formGroup]="form">
      <fieldset>
        <legend>Course Info</legend>
        <div class="row">
          <div class="col xs12 md12">
            <mat-form-field>
              <input
                matInput
                placeholder="Course title"
                formControlName="title"
              />
              <mat-hint>Title of the course</mat-hint>
              <mat-error *ngIf="c['title'].errors && c['title'].touched">
                Title is required
              </mat-error>
              <span *ngIf="c['title'].hasError('maxlength')">
                  Too much chars
              </span>
            </mat-form-field>
          </div>
          <div class="col xs12 md12">
            <p></p>
            <mat-form-field>
              <textarea
                matInput
                placeholder="Course objective..."
                formControlName="objective"
              ></textarea>
              <mat-hint>Objective of the course</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Add modules</legend>

        <button mat-raised-button color="primary" (click)="addModule()">
            Add module
          </button>
        <div *ngFor="let module of newModules">
          <mat-card>
            <mat-card-content>
             <div class="inMat"><mat-card-title>{{ module.name }}</mat-card-title>

               <button
                class="dltButton"
                mat-fab
                color="primary"
                (click)="deleteNewModule(module)"
              >
                <mat-icon>delete</mat-icon>
              </button></div>
            </mat-card-content>
          </mat-card>
        </div>
      </fieldset>
      <div class="btnAdd">
        <button mat-raised-button [disabled]="form.invalid" color="primary" (click)="onSubmit()">
          Add Course
        </button>
      </div>
    </form>
  </div>
</div>
