.mat-form-field {
  width: 100%;
}
textarea {
  height: 10em;
}
.mat-card-title {
  display: inline;
  margin-right: 80%;
}
.mat-card {
    margin-top: 1em;
}
.btnAdd{
    
  margin: auto;
  width: 50%;
  margin-top: 1em;
  
  text-align: center;
}
