<div class="row">
  <div class="col xs12">
    <a [routerLink]="['/', 'dashboard']">Back</a>
  </div>
</div>
<table>
  <caption>Students - <span (click)="openForm()">Add</span></caption>
  <thead>
    <tr>
      <th>
        <input type="checkbox" id="check-uncheck-all" [(ngModel)]="checkUncheckAll" (ngModelChange)="onCheckUncheckAll()">
      </th>
      <th id="id" (click)="byId()" [ngClass]="{'sorted': sortDefault === 'id'}">
        <span class="down-sort" *ngIf="sortDefault === 'id' && byIdSortOrder === 1">&gt;</span>
        Id
        <span class="up-sort" *ngIf="sortDefault === 'id' && byIdSortOrder === -1">&lt;</span>
      </th>
      <th>
        Initials
      </th>
      <th id="last-name" (click)="byLastname()" [ngClass]="{'sorted': sortDefault === 'lastName'}">
        <span class="down-sort" *ngIf="sortDefault === 'lastName' && byLastNameSortOrder === 1">&gt;</span>
        Lastname
        <span class="up-sort" *ngIf="sortDefault === 'lastName' && byLastNameSortOrder === -1">&gt;</span>
      </th>
      <th>Firstname</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody *ngIf="students.length">
    <tr *ngFor="let student of students">
      <td>
        <input class="student-check" type="checkbox" [(ngModel)]="student.isSelected!" (ngModelChange)="onSelectStudent(student)">
      </td>
      <td>{{ student.id }}</td>
      <td>
          <i class="bubble" (click)="openForm(student)">{{ student | initials: {lastNameFirst: true} }}</i>
      </td>
      <td>{{ student.lastName | uppercase }}</td>
      <td>{{ student.firstName }}</td>
      <td>{{ student.email }}</td>
    </tr>
  </tbody>
</table>
