<div class="row">
  <div class="col xs12">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <fieldset>
        <legend>Student Info</legend>

        <div class="row">
          <div class="col xs12">
            <mat-form-field>
              <input
                matInput
                class="lastNameInput"
                placeholder="student name"
                formControlName="lastName"
              />
              <mat-error *ngIf="c['lastName'].errors && c['lastName'].touched"
                >Last Name is Required</mat-error
              >
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col xs12">
            <mat-form-field>
              <input matInput placeholder="student first name" />
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col xs12">
            <mat-form-field>
              <input
                matInput
                class="emailInput"
                placeholder="student email"
                formControlName="email"
              />
              <mat-error *ngIf="c['email'].errors && c['email'].touched"
                ><span *ngIf="c['email'].hasError('required')"
                  >Email is required</span
                ><span *ngIf="c['email'].hasError('pattern')"
                  >Email is not valid</span
                ></mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col xs12">
            <mat-form-field>
              <input
                matInput
                class="phoneInput"
                placeholder="Phone Number"
                formControlName="phoneNumber"
              />
              <mat-error
                *ngIf="c['phoneNumber'].errors && c['phoneNumber'].touched"
              >
                Phone number is not valid
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </fieldset>
      <fieldset>
        <legend>Student Credential</legend>

        <div class="row">
          <div class="col xs12">
            <mat-form-field>
              <input matInput
              class="loginInput" placeholder="Login" formControlName="login" />
              <mat-error *ngIf="c['login'].errors && c['login'].touched">
                Login is Required
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="row">
          <div class="col xs12">
            <mat-form-field>
              <input
                type="password"
                matInput
                class="passwordInput"
                placeholder="Password"
                formControlName="password"
              />
              <mat-error *ngIf="c['password'].errors && c['password'].touched"
                ><span *ngIf="c['password'].hasError('required')">
                  Password is required
                </span>
                <span *ngIf="c['password'].hasError('pattern')">
                  Password should contains minuscule majuscule and a number
                </span></mat-error
              >
            </mat-form-field>
          </div>
        </div>
      </fieldset>

      <button mat-raised-button color="primary" >
        go !
      </button>
    </form>
    
    <button mat-raised-button color="primary" (click)="generateForm()">
        generate !
      </button>
    {{ form.value | json }}
  </div>
</div>
