/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
  font-family: 'Open Sans';
  font-size: 1em;
  font-variant: normal;
}
/**
* Helpers
**/
$cols: 12;

@mixin col-basis($basis) {
  grid-column: span $basis;
}

@mixin col-x-list($col-name) {
  @for $i from 1 through $cols {
      &.#{$col-name}#{$i} {
        @include col-basis($i);
      }
  }
}
/**
* Responsive Grid system
**/
.container {
  width: 100%;
}

@media screen and (min-width: 36em) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 48em) {
  .container {
    width: 100%;
  }
}

@media screen and (min-width: 62em) {
  .container {
    width: 62em;
    margin: 0 auto;

    &.fluid {
      width: 100%;
      margin: 0;
    }
  }
}

@media screen and (min-width: 75em) {
  .container {
    width: 75em;
    margin: 0 auto;
    &.fluid {
      width: 100%;
      margin: 0;
    }
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: .5em;

  .col {
    &.xs-hidden {
      display: none;
    }
    @include col-x-list("xs");
    /** .row .col.xs1 ... .row .col.xs12 **/

    &.sm-hidden {
      display: none;
    }
    @include col-x-list("sm");

    &.md-hidden {
      display: none;
    }
    @include col-x-list("md");

    &.lg-hidden {
      display: none;
    }
    @include col-x-list("lg");

    &.xl-hidden {
      display: none;
    }
    @include col-x-list("xl");
  }
}
